<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<section class="hero_section">
    <div class="section_container">
      <div class="hero_container">
        <div class="text_sector">
         
          <p>"In the tapestry of life, every thread of celebration adds color and vibrancy. Events are not just gatherings; they are the milestones that mark our journey. Each event is a chapter in the story of our lives, filled with memories and lessons. Life is a collection of moments; cherish and celebrate each one. Celebrations are the punctuation marks that give meaning to the passages of our lives. Together, they create a symphony of joy and reflection, weaving together the fabric of our existence with threads of love, laughter, and shared experiences."<div class="hero_section_button">
            
          </div>
        </div>
        <div class="image_section1">
          <img src="{% static 'images/moment2.jpg' %}" alt="Coffee" />
        </div>
      </div>
    </div>
  </section>
</body>
</html>